<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--
        配置增强
    -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--
        配置详情,细粒度的控制
        -->
                <tx:attributes>
                    <tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
                    <tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
                    <tx:method name="select*" read-only="true" propagation="SUPPORTS"/>
                    <tx:method name="delete*"/>
                    <tx:method name="update*"/>
                    <tx:method name="insert*"/>
                    <tx:method name="add*"/>
                    <tx:method name="submitOrder" propagation="REQUIRES_NEW"/>
                </tx:attributes>
    </tx:advice>


    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.dragon.xiaomi.*.service..*Impl.*(..))"/>
    </aop:config>
</beans>